body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    display: grid;
    grid-template-columns: 14rem 1fr;
    
}

header {
    grid-column: span 2;
}

nav {
    grid-column: 1;
    
    
}

main {
    grid-column: 2;
    
}

.saldos {
    display: flex;
    gap: 20px;
    
}

.saldo, .limite, .fatura{
    border: solid 1px;
    padding: .5rem;
    border-radius: 5%;
}

