/* ==========================================================================
   1. CENTRALIZAÇÃO DO DASHBOARD
   ========================================================================== */

body {
    /*Centralização do dashboard*/
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* ==========================================================================
   2. CRIAÇÃO DO GRID PRINCIPAL
   ========================================================================== */

.container {
    /*Aplicação do grid*/
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
        "sidebar header"
        "sidebar main";
    column-gap: 1.5rem;
    row-gap: 0;
    align-items: stretch;
}

/* ==========================================================================
   3. ALOCAÇÃO DO HEADER
   ========================================================================== */

header {
    /*alocação do header nas duas primeiras linhas*/
    grid-area: header;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 0 2rem;
    height: 5.5rem;
}

header img {
    flex-shrink: 0;
    width: 5rem;
    height: 5rem;
}

/* ==========================================================================
   2. ALOCAÇÃO NAVEGAÇÃO
   ========================================================================== */

nav {
    /*Alocação do menu na segunda linha, primeira coluna.*/
    grid-area: sidebar;
    width: 250px;
    height: 100%;

}

nav ul {
    /*espaçamento interno para desafogar do grid*/

    padding: 1rem;
}

nav ul li {

    /*espaçamento entre links*/
    padding: .5rem;
}

nav ul li a {
    display: flex;
    align-items: center; /* Alinha o ícone e o texto verticalmente no meio */
    gap: 12px;    /* Dá o espaço entre o ícone e o texto */
}


/* ==========================================================================
   3. CRIAÇÃO DO GRID SECUNDÁRIO
   ========================================================================== */

main {
    grid-area: main;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto 1fr;

    grid-template-areas:
        "saldo limite fatura"
        "pix pix pix";

    gap: 1.3rem;
    padding-top: 1.5rem;
    padding-bottom: 0px;
}


/* ==========================================================================
   3. ALOCAÇÃO CARDS
   ========================================================================== */

.saldo {
    grid-area: saldo;
}

.limite {
    grid-area: limite;
}

.fatura {
    grid-area: fatura;
}

.card {
    /*definição dos cards, alinhamnento de conteúdo interno*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
}

/* ==========================================================================
   3. ALOCAÇÃO ÁREA DE TRANSFERENCIAS
   ========================================================================== */

.transferencia {
    grid-area: pix;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.transferencia fieldset {
    border: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    /* O espaçamento agora age direto entre a label, as opções e o botão */
}

/* Alinhando PIX, TED e DOC lado a lado */

.opcao-grupo {
    /*alinhamento dos botões seletores*/
    display: flex;
    justify-content: center;
    gap: 2rem;
}

/* Alinhamento interno de cada opção (Selecionável + Texto) */

.opcao-selecao {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}